################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/netcoreapp3.1
/.vs/Sort/v16/Server/sqlite3
/.vs/Sort/v16/.suo
/.vs/Sort/v16
/.vs/Sort/DesignTimeBuild/.dtbcache
/.vs/Sort/DesignTimeBuild
